{% extends 'basic.html' %}

{% block title %} About {% endblock title %}

{% block aboutactive %}  active {% endblock aboutactive %}

{% block body %} 
  
<div class="container" style="height:140vh;margin-top:6%;">
    <div class="jumbotron">
        <h1 class="display-4">About TextUtils</h1>
        <h4>Publish your passions, your way.Create a unique and beautiful blog easily.</h4>
        <p class="lead">In this page we describe a bit of the history, motivations and features behind iCoder.</p>
        <hr class="my-4">

        <h2>Be the customer</h2>
        <p>Developing deep empathy for our customer’s needs, challenges, and dreams is critical to ensuring we do that well. We want to provide the same standard of tools and services to our customers that we would want for ourselves.</p>

        <h2>Design is not a luxury.</h2>
        <p>We believe that great design should be available to everyone, and we are relentless in our pursuit of great design in everything we do.</p>

        <h2>Build the ideal.</h2>
        <p>We seek to shape the future of our industry by conceiving of and building game changing products. To do this, we take bets on big ideas, while also recognizing that pursuit of perfection is a process that requires constant iteration.</p>

        <h2>Learn fast, act fast.</h2>
        <p>We believe that pursuing the fastest path to learning and having a healthy bias to action are keys to our success. We seek to do both whenever possible.</h2>

        <h2>Protect Creativity.</h2>
        <p>Ideas can come from anyone or anywhere, but they are fragile and require space to develop and grow. We believe the creative process is critical to our success, and we seek to protect it as we develop new directions for our product and company.</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Try iCoder >>></a>
      </div>
</div>  

 {% endblock body %}

