{% extends 'basic.html' %}

{% block title %} Post Blog {% endblock title %}

{% block postactive %}  active {% endblock postactive %}

 {% block body %}
 <div class="container" style="margin-top:6%;">
  <h1>Add a New Post</h1>
  <form method="post" class="my-3" action="/blog/submitpost"> {% csrf_token %}
        <div class="form-group">
            <label for="heading">Main Heading</label>
            <input type="text" class="form-control" id="heading" name="heading" aria-describedby="heading" required> 
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="title" required> 
          </div>
          <div class="form-group">
            <label for="author">Author Name</label>
            <input type="text" class="form-control" id="author" name="author" aria-describedby="author" required> 
          </div>
          <div class="form-group">
            <label for="Content">Content</label>
            <textarea id="mytextarea" name="content">Write your blog here!</textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
    
    {% endblock body %}
    
   
   